* {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif

}

html {
   height: 100%;
}

body {
    display: inline;
    padding: 0px;
    background-color: rgb(244, 243, 252);
    cursor: pointer;
    
}


header {
    background-color: rgb(210, 214, 212);
    font-size: 20px;
    padding:10px;
  
    
}


h1 {
    font-size: 40px;
    float: left;
    color: rgb(110, 110, 244);
    padding-left: 10px;
    
}

.container {
  cursor: pointer;
  transition: 0.8s;
 }

  .container:hover {
   color:rgb(137, 137, 239);
  }

 ul {
    list-style-type: none;
    /*margin: 5px;*/
    /*padding: 5px;*/
    overflow: hidden;
    background-color:rgb(210, 214, 212);
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: rgb(78, 90, 250);
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
  }
  
 li a:hover {
    background-color: rgb(218, 221, 221);
  }

  h2 {
  float:right;
  font-size: 30px;
  color:rgb(78, 90, 250) ;
  margin-top: 10px;
  padding-left: 60px;
  padding-right: 20px;
  text-decoration: underline;
  }

.image{
  display: flex;
  height: 100%;
  vertical-align: middle;
  margin: 60px

}

.info h3{
  float: left;
  font-size: 2em;
  color:rgb(78, 90, 250)  ;
}

.info li{
 margin-top: 5px;
 padding: 10px;
 text-decoration: none; 
 float: left;
 list-style-type: none;
 color:rgb(78, 90, 250);
 text-decoration: underline;
}

@media screen and(min-width: 768px) {
  .container {
    flex-basis: 100%;
  }
  
}

@media  screen and(min-width: 992px) {
  .container {
    flex-basis: 100%;
  }
  
}