* {
    margin: 0;
    padding: 0;
    font-style:oblique;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

html {
   height: 100%;
}

body {
    display: inline;
    padding: 0px;
    background-color: rgb(244, 243, 252);
    cursor: pointer;
    
}
a:hover {
  color:rgb(137, 137, 239);
}


header {
    background-color: rgb(210, 214, 212);
    font-size: 20px;
    padding:10px;
    margin: 15px; 
  
  
    
}


 .circle h1 {
    font-size: 40px;
    float: right;
    color: rgb(111, 136, 238);
    margin-top: 50px;
    padding-right: 55%;
    padding-left: 5px;
    
    
    
}

.circle{
  margin-top: 10px;
  padding: 10px;
  display: inline;
  width: 40px;
  height: 100px;
  text-align: left;
  vertical-align: left;
  
}
.container {
  cursor: pointer;
  transition: 0.8s;
 }

  .container:hover {
   color:rgb(137, 137, 239);
  }

 ul {
    list-style-type: none;
    overflow: hidden;
    background-color:rgb(210, 214, 212);
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: rgb(78, 90, 250);
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
  }
  
 li a:hover {
    background-color: rgb(218, 221, 221);
  }

  h2 {
  float:right;
  font-size: 2.5em;
  color:whitesmoke ;
  margin-top: 10px;
  padding-left: 60px;
  padding-right: 20px;
  text-decoration: underline;
  }

.image{
  display: flex;
  height: 100%;
  vertical-align: middle;
  margin: 60px;
  background-color: rgb(48, 43, 153);
 box-shadow: rgb(166, 175, 235); 
}

.info h3{
  float: left;
  font-size: 2em;
  color:rgb(78, 90, 250) ;
}

.info li{
 margin-top: 5px;
 padding: 0;
 width: 100%;
 text-align: center;
 text-decoration: none; 
 float: left;
 list-style-type: none;
 color:rgb(34, 33, 33);
 background-color:rgb(78, 90, 250)  ;
 text-decoration: underline;
}

@media screen and(min-width: 768px) {
  .container, h2 {
    flex-basis: 100%;
  }
  
}

@media  screen and(min-width: 992px) {
  .container, h2 {
    flex-basis: 100%;
  }
  
}